@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

        html,
        body {
            background-color: black;
            font-family: 'JetBrains Mono', monospace;
        }

        .window {
            border: 1px solid white;

            background-color: black;
            color: white;
            position: absolute;
            user-select: none;
            text-align: justify;
        }

        .titlebar {
            text-align: center;
            border-bottom: 1px solid white;
        }

        .client-area {
            padding: 10px;
            position: relative;
        }